{
  "ecmaFeatures": {
    "arrowFunctions": 2,
    "blockBindings": 2,
    "forOf": 2,
    "generators": 2,
    "restParams": 2,
    "templateStrings": 2
  },
  "rules": {
    "no-console": 0,
    "indent": [2, 2],
    "quotes": [2, "single"],
    "linebreak-style": [2, "unix"],
    "no-unused-vars": [1],
    "semi": [2, "always"],
    "max-len": [2, 120, 4]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended"
}
